*{
  margin: 0;
  padding: 0;
  background-color: rgb(19, 19, 19);
  background-color: rgb(248, 205, 15);
}

.app{
  /* background-color: navy; */
  height: 100vh;
  width: 100vw;
}
.app:focus{
  outline:none;
}

.title{
  text-align: center;
  /*off-white color*/
  color:rgb(207, 206, 206);
  margin: 1rem;
}

.tileRow{
  display: flex;
  justify-content: center;
}

.tile{
 /*  background-color: rgb(49, 49, 49); */
  /* border:none; */
  /* margin:.2rem; */
  border: .2rem solid black;
  width:60px;
  height:60px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:3rem;
  color: white;

  /* display:flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  line-height: 55px;
  /* Not sure why it needs to be 5 less than the height.
      The flex positioning SHOULD have aligned it vertically.
      This is just a quick fix, that seems to work for now
  */

  user-select: none;
  cursor:default;
}