*{
  margin: 0;
  padding: 0;
}

.title{
  text-align: center;
}

.tileRow{
  display: flex;
  align-content: center;
}

.tileInput{
  background-color: rgb(49, 49, 49);
  border:none;
  margin:1rem;
  width:40px;
  height:40px;
  cursor:default;
  color: white;
  
}
.tileInput:focus{
  outline:none;
}