*{
  margin: 0;
  padding: 0;
  background-color: rgb(19, 19, 19);
  color:rgb(100, 110, 110);
  overflow: hidden;
}

.app{
  height: 100vh;
  width: 100vw;
}
.app:focus{
  outline:none;
}

.title{
  text-align: center;
  /*off-white color*/
  color:rgb(207, 206, 206);
  margin: 1rem;
}

.tileRow{
  display: flex;
  justify-content: center;
}

.keyboardContainer{
  display: flex;
}

.keyboardKey{
  display:flex;
  justify-content: center;
  margin: .2rem;
  padding: .8rem;
  border-radius: 10%;
  max-width: 4.1rem;
  max-height: 4.1rem;

  color:white;
  font-size: 2rem;
  /* 
  background-color:rgb(78, 78, 78); */


  user-select: none;
  cursor: pointer;
}

.tile{
  background-color: rgb(49, 49, 49);
  /* border:none; */
  /* margin:.2rem; */
  border: .15rem solid rgb(80, 77, 77);
  margin: .2rem;
  width:60px;
  height:60px;
  
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:3rem;
  color: white;

  /* display:flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  line-height: 55px;
  /* Not sure why it needs to be 5 less than the height.
      The flex positioning SHOULD have aligned it vertically.
      This is just a quick fix, that seems to work for now
  */

  user-select: none;
  cursor:default;
}

.statusMessage{
  text-align: center;
  /*light green color*/
  color:rgb(56, 143, 85);
  margin: 1rem;
}