*{
  --tileHeight: 75px;
  --keyboardKeyWidth: 45px;
  --keyboardKeyWidthSpecial: 75px;
  --keyboardKeyHeight: 70px;
  --keyboardKeyWidthMin: 1rem;
  --keyboardKeyHeightMin: 2rem;
  --tileFontSize: 3rem;

  --titleColor:rgb(207, 206, 206);
  --backgroundColor:rgb(19, 19, 19);
  --statusRed:rgb(220, 68, 68);
  --statusGreen:rgb(56, 143, 85);

  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.app{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.app:focus{
  outline:none;
}

.title{
  text-align: center;
  /*off-white color*/
  color:var(--titleColor);
  margin: .2em
}

.tileRow{
  display: flex;
  justify-content: center;
  max-height: var(--tileHeight);
  flex-grow: 1;
  
}

.tile{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:var(--tileFontSize);
  color: white;

  background-color: rgb(49, 49, 49);
  border: .15rem solid rgb(80, 77, 77);
  margin: .2rem;
  flex-grow: 1;
  max-width: 1.25em;
  min-width: 1em;
  min-height: 1em;
  
  user-select: none;
  cursor:default;
}

.statusMessage{
  text-align: center;
  /*light green color*/
  color:var(--statusGreen);
  margin-bottom: .5em;
}
.statusColorGreen{
  color:var(--statusGreen)
}
.statusColorRed{
  /*light red color*/
  color:var(--statusRed)
}

.titleColor{
  color:var(--titleColor)
}

/* Virtual Keyboard Section */
.keyboardContainer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
}

.keyboardRowOne{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  max-height: var(--keyboardKeyHeight);
}

.keyboardRowTwo{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  max-height: var(--keyboardKeyHeight);
}

.keyboardRowThree{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  max-height: var(--keyboardKeyHeight);
}

.keyboardKey{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: var(--keyboardKeyWidth);
  min-height: var(--keyboardKeyHeightMin);
  min-width: var(--keyboardKeyWidthMin);
  margin: .2rem;
  border-radius: 10%;

  color:white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  user-select: none;
  cursor: pointer;
}
.keyboardEnterKey{
  max-width: var(--keyboardKeyWidthSpecial) !important;
}
.keyboardBackKey{
  max-width: var(--keyboardKeyWidthSpecial) !important;
}

/* Play Again Button Section */
.playAgain{
  border-color: var(--statusGreen);
  margin-top: 10px;
  padding-left:5px;
  padding-right:5px;
  margin-left: auto;
  margin-right: auto;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.playAgain:hover{
  cursor:pointer;
}
/* .playAgain>h2{
  font-size: var(--tileFontSize);
  background-color: var(--backgroundColor);
  color: var(--titleColor);
} */

/* Media-Queries Section */
@media (max-width: 285px), (max-height: 700px) {
  *{
    --tileFontSize: 2rem;
  }
  h1{
    font-size:24px;
  }
}

@media (max-width: 215px ) {
  *{
    --tileFontSize: 1rem;
  }
}
